@model Accela.GIS.Map.Admin.Models.LoginModel

@{
    ViewBag.Title = "Accela GIS Administration Login";
}

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.AgencyName)
                    @Html.DropDownListFor(m => m.AgencyName, (IEnumerable<SelectListItem>)ViewBag.Agencies)
                    @Html.ValidationMessageFor(m => m.AgencyName)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/admin/bundles/jqueryval")
}
